.nav {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    justify-content: space-between;
}

.aligner{
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.aligner-left {
    display: flex;
    justify-content: left;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    padding-top: 5%;
    font-weight: bold;
    font-size: larger;
    color: white;
}

.nav-link:hover{
    color:#39ace7;
    /* text-decoration: underline; */
}

.nav-logo-lg {
    display: block;
    align-self: left;
}
