<div class="background"></div>

<app-general-navbar></app-general-navbar>

<div class="card text-white">
    <div class="card-header">Log in<br>
        <div class="card-subHeader">Need to create an account?<br>
            <a href="signup">Click Here!</a>
        </div>
    </div>
    <div class="card-body">
        <form action="#">
            <input class="formField" type="email" id="email" placeholder="Email Address"/><br>
            <input class="formField" type="password" id="pass" placeholder="Password"/><br>
            <label>
                <input type="checkbox" checked="unchecked" name="remember"> Remember me
            </label>
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>
  </div>