<nav class="navbar navbar-expand-lg">
  <div class = "d-flex">
    
    <a href = "#" style = "margin-left: 0.5%">
      <img src="../../../assets/CS230 LogoW.png" style = "width: 60px; height: 60px; opacity: 70%">
    </a>
    
<div class = "aligner">
      <select class="dropdown">   
        <option value="College">College</option>   
        <option value="Course">Course</option>
        <option value="Instructor">Instructor</option>
      </select>
      
      <app-search style = "width: 150rem;"></app-search>
    </div>

    
    <div style = "border-radius: 25px; position:absolute; right: 1%">
      <a href = "signup">
      <img src = "../../../assets/defaultprofile.png" style = "width: 60px; height: 60px; border-radius: 50%">
    </a>
    </div>
    
  </div>
  
</nav>