.welcome {
    text-align: center;
    padding-top: 80px;
    position: relative;
    z-index: 1;
  }
  
.sec1 {
    margin: 10px;
    margin-top: -3%;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    width: 30%;
    height: 30%;
    color: #999;
}

form {
    font-size: larger;
    margin: auto;
    display: flex;
    justify-content: center;
}

#class {
    background-color: RGB(4,4,4, 0.5);
    border: 4px solid #222;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 25%;
    text-align: center;
    font-weight: bold;
    margin: 0.5rem .55rem;
    margin-right: 0px;
    padding: 1.2% 1%;
    transition: width 0.15s, filter 0.15s;
    color: #999;
}

#class:focus{
    width: 50%;
    color: rgb(200, 200, 200);
    filter: brightness(1.2);
    transition: width 0.15s, filter 0.15s;
}

ul, li {
    list-style-type: none;
  }

::placeholder {
    color: #999;
}

#options{
    color: #999;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #333;
    border: 4px solid #222;
    border-left: 0px;
    padding-right: 42px;
    width: 10%;
    margin: 0.5rem;
    margin-left: 0px;
}

.subnav {
    height: 0%;
    position: absolute;
    transition: all 0.3s;
    background: #333;
}

#options:hover .subnav {
    display: block;
    visibility: visible;
    transition: visibility 15s;
}