<home-navbar></home-navbar>
<div class="welcome">
    <img class="sec1" src="../../../assets/CS230 LogoW.png" height="300">
    <p></p>
    <form>
        <input action="results" id="class" placeholder="Search.."/>
        <li id="options">
            <p>Book</p>
            <ul class="subnav">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Application</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Options</a></li>
            </ul>
        </li>
    </form>
</div>
<home-background></home-background>
