<div class="background"></div>

<app-general-navbar></app-general-navbar>

<div class="card text-white">
    <div class="card-header">Create an Account<br>
        <div class="card-subHeader">Already have an account?<br>
            <a href="login">Click Here!</a>
        </div>
    </div>
    <div class="card-body">
        <form action="login">
            <input class="formField" type="text" id="fname" placeholder="First Name"/><br>
            <input class="formField" type="text" id="lname" placeholder="Last Name"/><br>
            <input class="formField" type="text" id="university" placeholder="Institution"/><br>
            <br>
            <input class="formField" type="email" id="email" placeholder="Email Address"/><br>
            <input class="formField" type="password" id="pass" placeholder="Password"/><br>
            <input class="formField" type="password" id="confirmPass" placeholder="Confirm Password"/><br>
            <input class="radioBtn" type="radio" role="student" name="role" label="Student">
            <label class="radioName" for="student">Student</label><br>
            <input class="radioBtn" type="radio" role="professor" name="role" label="Professor">
            <label class="radioName" for="professor">Professor</label><br><br>
            <input type="submit" value="Signup">
        </form>
    </div>
  </div>