#class {
    background-color: #444;
    border: 4px solid #222;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 0.5rem .55rem;
    padding: .5% 1%;
    transition: width 0.15s, filter 0.15s;
    color: #999;
}

#class:focus{
    color: rgb(200, 200, 200);
    filter: brightness(1.2);
    transition: filter 0.15s;
}